.rent-bar {
    display: table;
    margin: 15px auto; 
    padding: 20px;
    border-radius: 10px;
    position: relative;
    top:40px;
    left:85px;
    width: 60%; 
    background-color: rgba(0, 0, 0, 0.5);
}

.rent-bar label {
    margin-bottom: 10px;
    font-weight: bold;
    width: 210px;
    display: inline-table; /* Ensure labels and inputs are on the same line */
    color: white;
}

.rent-bar select,
.rent-bar input[type="text"],
.rent-bar input[type="tel"],
.rent-bar input[type="file"],
.rent-bar input[type="number"] {
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
    width: 50%;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.7);
    color: rgb(0, 0, 0);
    outline: none;
}

.rent-bar select {
    background-color: white;
}

.rent-bar input[type="file"] {
    cursor: pointer;
}

.rent-bar button[type="submit"] {
    padding: 2%;
    border-top: none;
    border-radius: 5px;
    background-color: #4CAF50;
    width: calc(50% - 5px);
    color: rgb(255, 255, 255);
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.rent-bar button[type="submit"]:hover {
    background-color: #45a049;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.error {
    color: #d76146;
    font-weight: bold;
}
